<nav class="navbar px-4 py-3 app-navbar">
    <a class="navbar-brand fw-bold fs-5" href="">🎟️ Sold Out Tickets</a>
    <div class="d-flex gap-3">
        <NavLink class="nav-link nav-link-custom" href="eventos">Eventos</NavLink>
        <NavLink class="nav-link nav-link-custom" href="painel">Painel</NavLink>
    </div>
</nav>
