<nav class="navbar px-4 py-3 app-navbar">
    <a class="navbar-brand fw-bold fs-5" href="">🎟️ Sistema de Tickets</a>
    <div class="d-flex">
        <NavLink class="nav-link nav-link-custom" href="eventos">
            Eventos
        </NavLink>
    </div>
</nav>
