<nav class="navbar navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="">Sistema de Tickets</a>
    <div class="d-flex">
        <NavLink class="nav-link text-white" href="eventos">
            Eventos
        </NavLink>
    </div>
</nav>
